<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Most Secrets</title>
    </head>
    <body>
        <h2>Most Popular Secrets</h2>
        <h1>Hey, {{ request.session.first_name }}, check these out!</h1>
        <ul>
          {% for post in posts %}
        </ul>
          <li>
            {{ post.secret }}--{{ post.likes }}
            You Posted This <a href="{% url 'secrets:destroy' post.id %}">Delete</a>
            <a href="{% url 'secrets:like' post.id %}">Like</a>
          </li>
          {% endfor %}
    </body>
</html>
popular.id
