<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dojo Secrets</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets/css/style.css' %}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body class="darkestBG">
    <div class="container">
      <div class="row">
        <div class="darkerBG col-md-6">
          <h1>Hello,  {{ request.session.first_name }}</h1>
          <form action="{% url 'secrets:post' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <textarea name="secret" rows= 10 class="form-control" placeholder="Your secret here..."></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Post"/>
            </div>
        </div>
        <div class="darkerBG col-md-6">
          <a href="{% url 'logapp:logout' %}">Logout</a><br />
          <a href="{% url 'secrets:popular' %}">Most Popular Secrets</a>
        </div>
      </div>

      <div class="row">
        <div class="darkBG col-md-12">
          <h1>Recent Secrets...</h1>
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>
              {{ message }}
            </li>
            {% endfor %}
          {% endif %}
          <ul>
            {% for post in posts %}
            <li>
              <p>{{ post.secret }}--{{ post.created_at }}</p><br />
              {% if Secret.created_by == currentUser %}
            <p>{{ request.session.first_name }} posted this and you may delete it <a href="{% url 'secrets:destroy' post.id %}">Delete</a></p>
            {% else %}
            <p>{{Secret.liked_by.all.count}} people liked this.</p>
              {% if currentUser not in Secret.liked_by.all %}
                <a href="{% url 'secrets:like' post.id %}">Like</a>
              {% endif %}
            {% endif %}
            </li>
              {% endfor %}
          </ul>
        </div>

      </div>


    </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>
